# Interface
streamlit>=1.32
# Requêtes HTTP
requests>=2.31
# Extraction PDF
pypdf>=4.0
pdfplumber>=0.11
PyMuPDF>=1.23
# Traduction
google-generativeai>=0.5
deepl>=1.17
# Parsing XML (PubMed)
lxml>=5.1
# Divers (recommandé pour compatibilité)
certifi
